.user {
    color: #f3adad;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0;
    gap: 10px;
    margin-top: 10px;
}
.photoUser {
    height: 35px;
    width: 35px;
    margin-bottom: 10px;
}